:host {
  display: block;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 24px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;

    .col-span-1,
    .col-span-2,
    .col-span-3 {
      grid-column: span 1;
    }
  }
}

