<h2 mat-dialog-title>
  {{ isEditMode ? "Editar Curso" : "Novo Curso" }}
</h2>

<mat-dialog-content>
  <fieldset [disabled]="isSaving()" style="border: 0; padding: 0; margin: 0">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <app-input
        formControlName="nome"
        label="Nome do curso"
        placeholder="Ex: Programação Web"
        [required]="true"
      />
    </form>
  </fieldset>
  @if (isSaving()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <app-button
    label="Cancelar"
    color="basic"
    (click)="onCancel()"
    [disabled]="isSaving()"
  />
  <app-button label="Salvar" [disabled]="isSaving()" (click)="onSubmit()" />
</mat-dialog-actions>
