<fieldset [disabled]="carregando" class="step-fieldset">
  <form [formGroup]="form" (ngSubmit)="aoSubmeter()" class="step-form">
    @if (pessoaEncontrada) {
      <div class="info-banner info-banner--found">
        <strong>Registo encontrado!</strong>
        <span
          >Este CPF já possui informações registadas na ONG. Verifique os dados
          abaixo, corrija o que for necessário e avance.</span
        >
      </div>
    }

    <app-input
      formControlName="nome"
      label="Nome"
      placeholder="Nome completo"
      [required]="true"
      [minLength]="3"
    />

    <app-input
      formControlName="cpf"
      label="CPF"
      placeholder="CPF confirmado"
      mask="cpf"
      [required]="true"
      autocomplete="off"
    />

    <app-date-input
      formControlName="dataNascimento"
      label="Data de Nascimento"
      [bloquearFuturo]="true"
      [maxAnosAtras]="150"
      [required]="true"
    />

    <div class="step-actions">
      <app-botao
        label="Voltar"
        variante="stroked"
        tipo="button"
        [desabilitado]="carregando"
        (click)="aoVoltar()"
      />
      <app-botao
        label="Continuar"
        cor="primary"
        tipo="submit"
        [carregando]="carregando"
        [desabilitado]="carregando"
      />
    </div>
  </form>
</fieldset>
