<app-cabecalho-pagina titulo="Voluntários">
  <app-botao
    label="Novo Voluntário"
    icone="add"
    cor="primary"
    routerLink="/voluntarios/novo"
  />
</app-cabecalho-pagina>

<app-card-busca placeholder="Pesquisar voluntário por nome..." (pesquisar)="buscar($event)" />

<app-tabela
  [dados]="voluntarios()"
  [colunas]="colunas"
  [carregando]="estaCarregando()"
  textoSemDados="Nenhum voluntário encontrado."
  [totalItens]="totalItens()"
  [paginaAtual]="paginaAtual()"
  [itensPorPagina]="itensPorPagina()"
  (paginaAlterada)="mudarPagina($event)"
>
  <ng-template appTabelaCelula="tipoVoluntario" let-voluntario>
    <span class="badge-tipo-voluntario">
      {{ voluntario.tipoVoluntario }}
    </span>
  </ng-template>

  <ng-template appTabelaCelula="acoes" let-voluntario>
    <app-botao
      variante="icon"
      icone="edit"
      cor="primary"
      (click)="editarVoluntario(voluntario)"
    />
    <app-botao
      variante="icon"
      icone="person_add"
      cor="primary"
      (click)="abrirModalCadastroUsuario(voluntario)"
    />
    <app-botao
      variante="icon"
      icone="delete"
      cor="warn"
      [desabilitado]="estaCarregando()"
      (click)="excluirVoluntario(voluntario)"
    />
  </ng-template>
</app-tabela>
