<div [formGroup]="formGroup()" class="container">

  <app-input formControlName="nome" label="Nome completo" placeholder="Ex: Maria da Silva" [required]="true"
    [minLength]="3" [maxLength]="150" class="col-span-2" />

  <app-input formControlName="cpf" label="CPF" placeholder="000.000.000-00" mask="cpf" [required]="true"
    (blur)="cpfAlterado.emit($event)" class="col-span-1" />

  <app-date-input formControlName="dataNascimento" label="Data de Nascimento" [bloquearFuturo]="true"
    [maxAnosAtras]="150" [required]="true" class="col-span-1" />

  @if ((podeSerEmancipado && formControlEmancipado) || (ehMenorNaoEmancipado && formControlPodeSairSozinho)) {
    <div class="grupo-checkboxes-menor">
      @if (podeSerEmancipado && formControlEmancipado) {
        <app-checkbox [formControl]="$any(formControlEmancipado)" label="Emancipado(a)" />
      }

      @if (ehMenorNaoEmancipado && formControlPodeSairSozinho) {
        <app-checkbox [formControl]="$any(formControlPodeSairSozinho)" label="Pode sair sozinho(a)" />
      }
    </div>
  }
</div>
