<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="mb-30">
      <mat-card-title class="w-full">Bem-vindo</mat-card-title>
      <mat-card-subtitle>Portal ONG Ser Amor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formularioLogin" (ngSubmit)="login()">
        <app-input
          label="Email"
          type="email"
          placeholder="exemplo@email.com"
          formControlName="email"
          [required]="true"
        />
        <app-input
          label="Senha"
          type="password"
          formControlName="senha"
          [required]="true"
        />
        <mat-card-actions>
          <app-button
            label="Entrar"
            class="full-width"
            size="lg"
            [disabled]="estaCarregando"
            [loading]="estaCarregando"
            type="submit"
          />
          @if (erroLogin()) {
          <mat-error>E-mail ou senha incorretos.</mat-error>
          }
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
