<app-cabecalho-pagina titulo="Beneficiários">
  <app-botao label="Novo Beneficiário" icone="add" cor="primary" routerLink="novo" />
</app-cabecalho-pagina>

<app-tabela [dados]="beneficiarios()" [colunas]="colunas" [carregando]="estaCarregando()"
  textoSemDados="Nenhum beneficiário encontrado." [totalItens]="totalItens()" [paginaAtual]="paginaAtual()"
  [itensPorPagina]="itensPorPagina()" (mudarPagina)="mudarPagina($event)">
  <ng-template appTabelaCelula="acoes" let-beneficiario>
    <app-botao variante="icon" icone="edit" cor="primary" (click)="editar(beneficiario)" />
    <app-botao variante="icon" icone="delete" cor="warn" [desabilitado]="estaCarregando()"
      (click)="excluir(beneficiario)" />
  </ng-template>
</app-tabela>