<div class="container">
  <header>
    <h1>Beneficiários</h1>
    <app-button label="Novo Beneficiário" icon="add" />
  </header>

  @if (estaCarregando()) {
    <div class="loading-shade">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }

  <div class="container-tabela mat-elevation-z2">
    <table mat-table [dataSource]="beneficiarios()">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let beneficiario">
          {{ beneficiario.pessoa.nome }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let beneficiario">
          {{ beneficiario.pessoa.cpf }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let beneficiario" class="actions-cell">
          <div class="actions-wrapper">
            <app-button
              variant="icon"
              icon="edit"
              color="primary"
              (click)="editar(beneficiario)"
            />
            <app-button
              variant="icon"
              icon="delete"
              color="warn"
              [disabled]="estaCarregando()"
              (click)="excluir(beneficiario)"
            />
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="colunasExibidas.length">
          Nenhum voluntário encontrado.
        </td>
      </tr>
    </table>

    <mat-paginator
      [length]="totalItens()"
      [pageSize]="itensPorPagina()"
      [pageIndex]="paginaAtual()"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="mudarPagina($event)"
      aria-label="Selecione a página"
    >
    </mat-paginator>
  </div>
</div>
